.App {
  text-align: center;
  background-color: #240b0b;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.imageDiv {
  display: inline-block;
  width: 250px;
  margin: 10px;
  height: 320px;
}

.imageDiv:hover {
  transform: scale(1.02);
}

.MuiCardContent-root, .MuiCardActions-root {
  background-color: #5c6151;
}

#paper {
  background-color: #5c6151;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  padding: 10px;
}

#paperInPaper {
  background-color: #ddc9ae;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 8%;
  margin-right: 8%;
  padding: 10px;
}

.homeDiv {
  padding-top: 30px
}
.mainDiv {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  justify-items: center center center end;
  padding-top: 20px;
}

.navli1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.navli2 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.navli3 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.navliAdmin {
  grid-column-start: 4;
  grid-row-start: 1;
  height: 40px;
}

a {
  text-decoration: none;
  color: #a36b6b;
  font-size: 20px;
}


li:hover {
  transform: scale(1.04);
}



