h2 {
  color: #f1b7b7;
}

#selectList {
  width: 150px;
}

#formatBtn {
  display: inline;
  text-decoration: none;
  padding: 10px;
  background-color: #345081;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-radius: 4px;
  padding: 4px 15px 4px 15px;
}

.addMovieDiv {
  display: block;
}